@import "_normalize";
@import "_foundation.min";
@import "_variables";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color-tertiary;
	font-family: 'Montserrat', sans-serif;
}


.parfait1,
.parfait2,
.parfait3 {
	padding: 1% 0;
}

.parfait1 {
	background: $color-primary;
}

.parfait2 {
	h2 {
		color: $color-tertiary;
		text-align: center;
	}
}

header {


	h1 {
		color: $color-secondary;
	}

	img {
		height: 100%;
		padding: 5%;
	}
	
}

.center-slick {

	padding: 20px;
}


nav {
	.button {
		padding-top: 2.5rem;
		padding-bottom: 2.5625rem;
		text-align: center;
		width: 100%;
	}

	.button-group > li {
		width: 20%;
	}
}


button, 
.button {
	background: $color-primary;
}

button:hover, 
button:focus, 
.button:hover, 
.button:focus {
	background-color: #C24500;
}



/*-------------------------------
		Grid/List
-------------------------------*/
.large-6,
.large-3 {
	-moz-transition: .25s .5s;
	-webkit-transition: .25s .5s;
	transition: .25s .5s;
}

article {

	a {
		color: $color-tertiary;
	}

	a:hover {
		color: $color-primary;
	}

	p {
		font-size: .75rem;
	}
}

.th {
	width: 200px;
	margin-bottom: 75px;

	&:hover, &:focus {
	box-shadow: 0 0 6px 1px rgb(50,50,50);
 	}
}

.large-3 h4 {
	height: 60px;
}







@media screen and (max-width: 1025px) {

	.large-6 {
		width: 50%;
	}

}

@media screen and (max-width: 890px) {

	.large-6 {
		width: 100%;
	}

}

















