@import "_normalize";
@import "_foundation.min";
@import "../slick/slick";
@import "_variables";

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color-tertiary;
}


.parfait1,
.parfait2,
.parfait3 {
	padding: 1% 0;
}

.parfait1 {
	background: $color-primary;
}

.parfait2 {
	h2 {
		color: $color-tertiary;
		text-align: center;
	}
}

header {


	h1 {
		color: $color-secondary;
	}

	img {
		height: 100%;
	}
	
}

.center-slick {

	padding: 20px;
}


nav {
	.button {
		padding-top: 2.5rem;
		padding-bottom: 2.5625rem;
		text-align: center;
		width: 100%;
	}

	.button-group > li {
		width: 20%;
	}
}


button, 
.button {
	background: $color-primary;
}

button:hover, 
button:focus, 
.button:hover, 
.button:focus {
	background-color: #C24500;
}



/*-------------------------------
		Grid/List
-------------------------------*/
.large-6,
.large-3 {
	-moz-transition: .25s .5s;
	-webkit-transition: .25s .5s;
	transition: .25s .5s;
}

article {

	a {
		color: $color-tertiary;
	}

	a:hover {
		color: $color-primary;
	}

	p {
		font-size: .75rem;
	}
}

.th {
	width: 200px;
	margin-bottom: 150px;
}

























