@import "_normalize";
@import "_foundation.min";
@import "../slick/slick";
@import "_variables";


.parfait1,
.parfait2,
.parfait3 {
	padding: 1% 0;
}

.parfait1 {
	background: $color-primary;
}

.parfait2 {
	background: #000;
}

header {
	height: 50%;

	h1 {
		color: $color-secondary;
	}
	
}

.center-slick {
	background: #333;
	padding: 20px;
}

div h2 {
	color: $color-secondary;
	text-align: center;
}

nav {
	.button {
		padding-top: 2.5rem;
		padding-bottom: 2.5625rem;
		text-align: center;
		width: 100%;
	}

	.button-group > li {
		width: 20%;
	}
}

